<div class="ui teal large menu">
    <a class="<%=activePage === '/' ? 'active' : ''%> item" href="/">
      Home
    </a>
    <a class="<%=activePage === '/menus' ? 'active' : ''%> item" href="/menus">
      Menus
    </a>
    <a class="<%=activePage === '/recipes' ? 'active' : ''%> item" href="/recipes">
      Recipes
    </a>
    <a class="<%=activePage === '/shopping-list' ? 'active' : ''%> item" href="/shopping-list">
      Shopping List
    </a>
  
    <div class="right menu">
      <a class="item" href="/menus/add">
        <div class="ui teal basic button">Add Menu</div>
      </a>
      <a class="item" href="/recipes/add">
            <div class="ui teal basic button">Add Recipe</div>
          </a>
      <a class="item" href="/dayMenus/add">
        <div class="ui teal basic button">Add dayMenu</div>
      </a>
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <% if (!isAuthenticated) { %>
      <a class="<%= activePage === '/login' ? 'active' : ''%> item" href="/login">
        Login
      </a>
      <a class="<%= activePage === '/signup' ? 'active' : ''%> item" href="/signup">
        Signup
      </a>
      <% } else { %>
      <a class="<%= activePage === '/login' ? 'active' : ''%> item">
        <form action="/logout" method="post">
          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
          <button class="ui teal basic button" type="submit">Logout</button>
        </form>
      </a>
      <% } %>  
    </div>
  </div>
  