<%-include('includes/head.ejs')%> <%-include('includes/navigation.ejs')%>

<div class="ui container">
  <div class="ui text container segment">
    <form class="ui form" action="/signup" method="POST">
      <%-include('includes/messages.ejs')%>
      <div class="field">
        <label>Email address</label>
        <input type="email" name="email" value='<%= email %>' />
      </div>
      <div class="field">
        <label>Password</label>
        <input
          type="password"
          name="password"
        />
      </div>
      <div class="field">
        <label>Confirm Password</label>
        <input
          type="password"
          name="confirmPassword"
        />
      </div>
      <input type="hidden" name="_csrf" value=<%= csrfToken %>>
      <button class="ui teal button" type="submit">Signup</button>
    </form>
  </div>
</div>

<%-include('includes/end.ejs')%>
